<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add New User</title>
</head>
<body>
<h1>Create User:</h1>

<form th:action="@{/registration}"
      th:object="${userForm}" method="POST">
    Name:
    <input type="text" th:field="*{username}"/>
    <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <br/>
    Password:
    <input type="password" th:field="*{password}"/>
    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <br/>
    Confirm Password:
    <input type="password" th:field="*{passwordConfirm}"/>
    <span class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
    <br/>
    <input type="submit" value="Create" />
</form>
<br/>

</body>
</html>